/*  */
body {
  background-color: #ffeffe;
  font-family: "Magica", sans-serif;
  color: #ff66b2;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header */
h1 {
  font-size: 2.5em;
  margin: 20px 0;
  text-shadow: 2px 2px #ffe4e1;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* Buttons */
.image-button {
  background-color: #ffccf9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.image-button:hover {
  background-color: #ff99c8;
  transform: scale(1.1);
}
